@{
    var currentController = ViewContext.RouteData.Values["controller"]?.ToString();
    var currentAction = ViewContext.RouteData.Values["action"]?.ToString();
    ViewData["Title"] = "Home";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - TechRetail</title>
    <link rel="stylesheet" href="~/css/tw_generated.css" asp-append-version="true"/>
    <link href="~/lib/tabler-icons-3.20.0/webfont/tabler-icons.css" rel="stylesheet">
    <link href="~/favicon.ico" rel="icon" type="image/x-icon"/>
</head>
<body>
<header>
    <nav
        class="w-2/5 p-4 flex gap-4 justify-between items-center bg-zinc-950/50 z-50 absolute top-0 right-0 my-8 rounded-l-md border-y-2 border-l-2 border-primary-400/20 shadow-xl">

        <!-- logo -->
        <div class="w-fit flex-shrink-0 flex items-center gap-4">
            <img class="h-8 md:h-10" src="~/assets/base-light.png" alt="">
            <p class="text-md text-gray-400 font-black">
                <span class="font-black text-primary-500 drop-shadow-[0px_0px_5px_#EE7A4D]">Tech</span>Retail
            </p>
        </div>

        <!-- pages -->
        <nav class="flex items-center justify-center w-full">
            <ul class="flex items-center justify-center space-x-4">
                <li class="relative inline-block">
                    <a class="@(currentController == "Home" && currentAction == "Index" ? "bg-orange-600/50 border-2 border-orange-600 rounded-md" : "border-transparent") px-3 py-2 text-sm font-medium text-gray-300 border-b-2 hover:border-orange-600 hover:text-white transition-all duration-300" href="">Home</a>
                </li>
                <li class="relative inline-block">
                    <a class="@(currentController == "Prodotti" && currentAction == "Index" ? "bg-orange-600/50 border-2 border-orange-600 rounded-md" : "border-transparent") px-3 py-2 text-sm font-medium text-gray-300 border-b-2 hover:border-orange-600 hover:text-white transition-all duration-300" href="">Prodotti</a>
                </li>
                <li class="relative inline-block">
                    <a class="@(currentController == "Admin" && currentAction == "Index" ? "bg-orange-600/50 border-2 border-orange-600 rounded-md" : "border-transparent") px-3 py-2 text-sm font-medium text-gray-300 border-b-2 hover:border-orange-600 hover:text-white transition-all duration-300" href="">Admin</a>
                </li>
            </ul>
        </nav>

        <!-- buttons -->
        <nav class="contents">
            <ul class="w-fit flex items-center justify-end">
                <li class="ml-2 lg:ml-4 relative inline-block">
                    <a class="" href="">
                        <i class="ti ti-user text-gray-500 text-xl"></i>
                    </a>
                </li>
                <li class="ml-2 lg:ml-4 relative inline-block">
                    <a class="" href="">
                        <div
                            class="absolute -top-1 -right-2 z-10 bg-yellow-400/80 text-[8px] text-zinc-950 font-bold px-1 py-0.5 rounded-sm">
                            12
                        </div>
                        <i class="ti ti-shopping-cart text-gray-500 text-xl"></i>
                    </a>
                </li>
            </ul>
        </nav>

        <!-- cart count -->
        <div class="mx-4 hidden sm:flex flex-col font-bold">
            <span class="text-[10px] text-gray-400">Your Cart</span>
            <span class="text-xs">$2,650,59</span>
        </div>
    </nav>
</header>
<div class="container">
    <div class="relative isolate px-6 pt-14 lg:px-8 h-screen">
        <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80"
             aria-hidden="true">
            <div
                class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-orange-600 opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]"
                style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
        </div>
        <main role="main" class="pb-3 h-screen font-sans">
            @RenderBody()
        </main>
        <div
            class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]"
            aria-hidden="true">
            <div
                class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#ff80b5] to-orange-600 opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]"
                style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", false)
</body>
</html>
